{% extends '../base.html' %}
{% block content %}
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">Заголовок: {{object.heading}}</p>
              <p class="card-text">Текст статьи: {{object.content}}</p>
                <p class="card-text">Изображение: {{object.image}}</p>
                <p class="card-text">Дата публикации: {{object.create_date}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'blog:blog_main' %}" role="button">На главную</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}